# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

MINIO_ENDPOINT=http://minio:9000
MINIO_BUCKET=datalake

# Airflow
AIRFLOW_UID=50000

# Trino
TRINO_HOST=trino
TRINO_PORT=8080

# Iceberg
ICEBERG_CATALOG=rest
ICEBERG_REST_URI=http://iceberg-rest:8181

# S3
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
AWS_REGION=us-east-1
